:root {
  --gold: #f0a500;
  --gray: #334756;
  --charcoal: #082032;
  --black: #151515;
  --white: #f5f5f5;
  --red: #950101;
  --green: #5fd068;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--white);
  color: var(--black);
}
main {
  min-height: 80vh;
}
a {
  text-decoration: none;
  color: unset;
}
button:hover,
.bounce:hover {
  cursor: pointer;
  transform: scale(1.1);
}
button:active,
.bounce:active {
  transform: scale(0.9);
}
nav {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--charcoal);
  color: var(--gold);
  padding: 1em 2em;
  .user {
    position: relative;
    cursor: pointer;
    display: flex;
    gap: 0.5em;
    button {
      border: none;
      color: var(--white);
      background-color: transparent;
    }
    .dropdown {
      position: absolute;
      z-index: 5;
      top: 1.5em;
      left: 0;
      background-color: var(--white);
      color: var(--black);
      border: 1px solid black;
      border-radius: 4px;
      overflow: hidden;
      div {
        padding: 0.75em 1em;
        &.signout {
          border-top: 1px solid black;
        }
        &:hover {
          background-color: var(--gold);
        }
      }
    }
  }
}
.cart {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.cart div {
  width: 1.25rem;
  background-color: var(--red);
  color: var(--white);
  border-radius: 1rem;
  text-align: center;
}
main {
  padding: 2em;
}
footer {
  width: 100%;
  display: flex;
  justify-content: center;
}
#Loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  padding: 3em;
  color: var(--gold);
}
#Error p {
  width: fit-content;
  font-size: 1.5em;
  padding: 1em;
  background-color: var(--red);
  color: var(--white);
  border-radius: 8px;
}
