:root {
  --gold: #f0a500;
  --gray: #334756;
  --charcoal: #082032;
  --black: #151515;
  --white: #f5f5f5;
  --red: #950101;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--white);
  color: var(--black);
}
a {
  text-decoration: none;
  color: unset;
}
button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
button:active {
  transform: scale(0.9);
}
nav {
  background-color: var(--charcoal);
  color: var(--gold);
  padding: 1em 2em;
}
main {
  padding: 2em;
}
footer {
  width: 100%;
  display: flex;
  justify-content: center;
}
